.StarredList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 75%;
}

.StarredList__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 20px;
  height: 40px;
}

label {
  color: #a9a9a9;
  font-size: 14px;
}

.StarredList__dropdown {
  height: 40px;
  width: 300px;
  font-size: 16px;
  color: #a9a9a9;
  font-weight: 700;
}

.StarredListItem__container {
  display: flex;
  align-items: center;
  width: 100%;
}

.StarredListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
  padding: 10px 10px 10px 0;
  width: 90%;
  margin: 10px auto;
  background-color: #f8f8f8;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 70px;
}

.StarredList__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.StarredListItem img {
  height: 60px;
  border-radius: 50%;
  border-bottom: 5px solid purple;
  border-left: 5px solid blueviolet;
  border-right: 5px solid plum;
  border-top: 5px solid plum;
}

.StarredListItem__details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 2;
  padding: 10px;
}

.StarredListItem__followers, .StarredListItem__engagement {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}

.StarredListItem__followers p, .StarredListItem__engagement p {
  color: #a9a9a9;
  margin-top: 5px;
}

.StarredListItem__container__button {
  height: 50px;
  width: 50px;
  border: none;
  color: silver;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 1170px) {
  .StarredList {
    width: 65%;
  }
}

@media (max-width: 1000px) {
  .StarredList__header {
    flex-direction: column;
    align-items: flex-start;
    height: 80px;
    margin-bottom: 10px;
  }
}

@media (max-width: 800px) {
  .StarredList {
    width: 90%;
    align-items: center;
    margin: 20px auto;
  }

  .StarredList__header {
    align-items: center;
  }

  .StarredList-items {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .StarredList {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .StarredList {
    margin: 20px 5px;
  }
  .StarredList h3 {
    font-size: 85%;
  }

  .StarredListItem img {
    width: 50px;
    height: 50px;
  }

  .StarredListItem__details {
    flex-grow: 1;
  }

  .StarredListItem__followers p, .StarredListItem__engagement p {
    font-size: 85%;
  }
}

@media (max-width: 450px) {
  .StarredListItem {
    flex-direction: column;
    height: auto;
    border-radius: 5px;
    align-items: flex-start;
    padding: 0 10px;
  }

  .StarredListItem__details {
    flex-direction: row;
    align-items: flex-end;
  }

  .StarredListItem__details h3 {
    margin-right: 20px;
  }

  .StarredListItem__followers {
    flex-direction: row;
    align-items: flex-end;
  }

  .StarredListItem__followers h3 {
    margin-right: 20px;
  }

  .StarredListItem__engagement {
    flex-direction: row;
    align-items: flex-end;
  }

  .StarredListItem__engagement h3 {
    margin-right: 20px;
  }
}
